.card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.card-header {
    background-color: #f8f9fa;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.text-center {
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
}
